*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #fcfcfc;
}

hr{
  height : 1px;
  color: #a9a9a9;
}

a{
  text-decoration: none;
  color: black;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}