.cart{
    margin-top: 2rem;
}

.cart .cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
}

.cart .cart-container .cart-items p{
    font-weight: 700;
}

.cart .cart-items-item{
    margin-top: 1rem;
}

.cart .cart-items-item img{
    width: 20%;
}

.cart hr{
    height: 1px;
    background-color: rgb(203, 200, 200);
    border: none;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.cart .cross{
    color: tomato;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.cart .cross:hover{
    font-size: 24px;
}

.cart .bottom-cart{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.cart .bottom-cart .bill-items{
    margin-bottom: 1rem;
    width: 40%;
}

.cart .bottom-cart .bill-items div{
    display: flex;
    justify-content: space-between;
    /* gap: 5rem; */
}

.cart .bottom-cart .bill-items h2{
    margin-bottom: 1rem;
}

.cart .bottom-cart .bill-items .total {
    margin-bottom: 1rem;
}

.cart .bottom-cart .bill-items button{
    background-color: tomato;
    color : white;
    padding: 0.9rem 1.1rem;
    border: none;
    cursor: pointer;
}

.cart .bottom-cart .bill-items button:hover{
    opacity: 0.9;
}


.cart .bottom-cart .promo-code{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart .bottom-cart .promo-code div{
    background-color: rgb(226, 225, 225);
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cart .bottom-cart .promo-code div input{
    border: none;
    background: transparent;
    padding-left:0.6rem ;
    padding: 0.5rem 1rem;
}

.cart .bottom-cart .promo-code div button{
    padding: 0.5rem 1rem;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1rem;
}