.login{
    width: 100%;
    height: 100%;
    background-color: #00000090;
    position: absolute; 
    z-index: 1;
    display: grid;
}

.login .login-container{
    place-self: center;
    background-color: white;
    color: #808080;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    animation: smoothIn 0.4s;
    padding: 2rem;
    border-radius: 2rem;
    text-align: center;
}


.login .login-details form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login .login-details form input{
    width: 100%;
    height: 30px;
    padding: 0 5px;
}

.login .login-details form button{
    /* width: 40%; */
    place-self: center;
    padding: 0.8rem 1rem;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: tomato;
    color: white;

}

.login .login-details form button:hover{
    opacity: 0.9;
}

.login .login-container .span{
    cursor: pointer;
    color: tomato;
}

.login .login-container .span:hover{
   text-decoration: underline;
}

.login .login-container .login-heading h1{
    color: tomato;
}

.login .login-container .login-heading img{
    width: 15px;
    position: relative;
    top: -50%;
    left: 40%;
    cursor: pointer;
    transition: 0.4s ease;
}

.login .login-container .login-heading img:hover{
    width: 17px;
}