.displayfood{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.displayfood .allfood{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
   
}