.fooditem{
    width: 25%;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.225);
    cursor: pointer;
    transition: 0.6s;
}

.fooditem:hover{
    opacity: 0.9;
    transform: scale(1.05);
}

.fooditem .image img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

.fooditem .item-count{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
}

.fooditem .item-count .add{
    transition: 0.5s;
}


.fooditem .item-count .add-green{
    width: 30%;
}
.fooditem .item-count .remove{
    width: 30%;
}

.fooditem .item-count .inc-dec{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding:0.7rem 1rem ;
    border-radius: 2rem;
    background-color: rgb(246, 245, 245);
    transition: 0.5s;

}

.fooditem .details{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fooditem .details .name-rating{
    display: flex;
    justify-content: space-between;
}

.fooditem .details .name{
    font-weight: 800;
    font-size: 1.2rem;
}
.fooditem .details .desc{
    opacity: 0.7;
}
.fooditem .details .price{
    color: tomato;
    font-weight: 600;
    font-size: 1.1rem;
}