.exploremenu{
   margin: 3rem 0;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.exploremenu .menu-list {
    display: flex;
    gap: 1.5rem;
    overflow-x:auto;
    margin-bottom: 1rem;
}

.exploremenu .menu-list .active{
    border: 4px solid tomato;
    border-radius: 50%;
    padding: 2px;
}

.exploremenu .menu-list::-webkit-scrollbar{
    display: none;
}

.exploremenu .menu-list .menu-list-item {
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.exploremenu .menu-list .menu-list-item:hover{
    opacity: 0.9;
    transform: scale(1.05);
}


@media(max-width : 890px){
    .exploremenu{
   gap: 0.8rem;
}
}

@media(max-width : 544px){
    .exploremenu .menu-list .menu-list-item {
    width: 30%;
}
}


